<!---
     -----------------------------/ ^^^^^^^ \
   /                             |  | * * |  |
  / |   )                   |  ||\__/  @  \__/
\/   \ / /----------\______/ \ //     '-'
      ||=|=                   ||=|=

This blog was created by me.
I also co-created a super easy CMS, that makes writing themes really easy.
www.ronaldlangeveld.com
If you find any bugs, please tweet me @ronaldlangeveld

Peace!
--->

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
        <meta name="twitter:card" content="Ronald Langeveld Blog" />
    <meta property="og:url" content="https://www.ronaldlangeveld.com/" />
<meta property="og:title" content="Ronald Langeveld Blog" />
<meta name="twitter:creator" content="@ronaldlangeveld" />
    <meta property="og:image" content="https://ronaldlangeveld.com/static/img/profile.jpg" />
    <meta name="google-site-verification" content="nT0OA4g9EIuHXru84WTYoOJ9yRNn6rE-Z9Hm-MCqFFg" />
    <meta charset="utf-8" />
    <title>Ronald Langeveld</title>
<meta property="og:description" content="Ronald Langeveld Blog" />

        <meta name="description" content="Expressing my ideas in code 👨🏼‍💻 to fullfill my dreamline of sunshine ☀️ good waves 🌊 & pure stoke 😊. 안녕 👋">
          <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/simple-grid.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/texts.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
        <link rel="icon" type="image/gif" href="/static/img/favicon.gif" />
</head>
<body>

{% block main %} {% endblock %}

</body>
        <footer id="footer">
    </footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111873806-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-111873806-1');
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.1/jquery.timeago.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
  jQuery("time.timeago").timeago();
});
</script>
</html>