{% extends "base.html" %}


{% block main %}

{#    <a href="/"><img class="profile-pic" src="/static/img/profile.jpg"></a>#}
<body class="head-sect">
	<section>
		<div class="container">

			<div class="row">
				<div class="col-12">


<h1 class="head-text">Hi, I'm Ronald</h1>

<br>

	<h2 class="head-text">
		I'm an Indie Web Developer and Maker from Durban.
	</h2>




	<h3 class="head-text">
I was recently involved in making <a href="">Downtime Bot</a>, <a href="">ThatVisa</a>, <a href="">Tech Work</a> and <a href="">Flat File Flask Blog</a>.
	</h3>



	<h3 class="head-text">
I have a small <i class="fa fa-youtube" aria-hidden="true"></i> <a href="https://www.youtube.com/channel/UCN3QMklfukKgFJLiIZ1Oawg" target="_blank">channel</a> with over 100,000 hits
	</h3>



                    	<div class="follow-text">
<p style="color: black">find me on <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/burgundy93" target="_blank">github</a>, <i class="fa fa-instagram" aria-hidden="true"></i> <a href="https://instagram.com/ronaldl93" target="_blank">instagram</a> and <i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/ronaldlangeveld" target="_blank">twitter</a></p>
</div>

<div class="follow-text">
        <p style="color: black">if you can't send me a DM on twitter feel free to email me at <a href="mailto:hi@ronaldlangeveld.com">hi@ronaldlangeveld.com</a></p>
</div>
                    <div class="follow-text">
        <p style="color: black"><a href="/posts">Check out all my blog posts</a></p>
</div>
				</div>
			</div>

</div>
</section>

<section>

			<div class="row">
				<div class="col-12">
                    {% for post in posts|sort(reverse = true, attribute='date') %}
<div class="blog-card">
<div class="time-tag">
	<time style="text-align: center" class="timeago" datetime="{{ post.date }}">{{ post.date }}</time>
</div>
<h1 class="blog-head-text"><a class="blog-link-style" href="/{{ post.slug }}"> {{ post.title }}</a></h1>
</div>
<br>
                    {% endfor %}


				</div>


			</div>


		</div>

	</section>


</body>

{% endblock %}