{% extends "base.html" %}


{% block main %}

{#    <a href="/"><img class="profile-pic" src="/static/img/profile.jpg"></a>#}
<body class="head-sect">

<section>

			<div class="row">
            <div class="col-12">
                <div>
                    <h1 class="head-text">Hi, I'm Ronald</h1>

<br>

	<h2 class="head-text">
		I'm an Indie Web Developer.
	</h2>




	<h3 class="head-text">
I recently made <a href="https://downtimebot.com/" target="_blank">Downtime Bot</a>, <a href="https://thatvisa.com/" target="_blank">ThatVisa</a>, <a href="https://techwork.co.za/" target="_blank">Tech Work</a> and <a href="https://ronaldlangeveld.com/building-open-source-flask-blog" target="_blank">Flat File Flask Blog</a>.
	</h3>

                    <h2 class="head-text"><a href="/posts">READ MY BLOG</a></h2>
                       <h2 class="head-text"><a href="/play">Visit my Public Playground</a></h2>


                    	<div class="follow-text">
<p style="color: black">find me on <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/burgundy93" target="_blank">github</a>, <i class="fa fa-instagram" aria-hidden="true"></i> <a href="https://instagram.com/ronaldl93" target="_blank">instagram</a> and <i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/ronaldlangeveld" target="_blank">twitter</a></p>
</div>

<div class="follow-text">
        <p style="color: black">if you can't send me a DM on twitter feel free to email me at <a href="mailto:hi@ronaldlangeveld.com">hi@ronaldlangeveld.com</a></p>
</div>
                    <div class="follow-text">

</div>
                </div>
            </div>


			</div>


		</div>

	</section>


</body>

{% endblock %}