{% extends "base.html" %}


{% block main %}

    <body>
    <div class="container">
        <div class="row">
            <p><a href="/">go back home</a></p>
            <div class="col-12">
                <h1>Open what about I'm building. Doing it in public on <a href="https://wip.chat/?ref=ronaldlangeveld.com" target="_blank">WIP</a></h1>

                                        {% for a in data['data']['user']['products'] %}
                        <h2><a href="https://wip.chat/products/{{ a.id }}" target="_blank">{{ a.name }}</a></h2>
                        {% endfor %}


                {% endblock %}