<!---
     -----------------------------/ ^^^^^^^ \
   /                             |  | * * |  |
  / |   )                   |  ||\__/  @  \__/
\/   \ / /----------\______/ \ //     '-'
      ||=|=                   ||=|=

This blog was created by me.
I also co-created a super easy CMS, that makes writing themes really easy.
www.ronaldlangeveld.com
If you find any bugs, please tweet me @ronaldlangeveld

Peace!
--->


{# Complete list of posts #}

{% extends "base.html" %}


{% block main %}

<body>
    <section id="content">
        <div class="container">
            <div class="row">

                <div class="col-12">
                                       <p><a href="/">go back home</a></p>

                    <h1>Playground</h1>
                    <h2>This is my public experimental section. Here I will play with multiple API's and so forth. Gotta keep on learning how stuff works.</h2>

                    <hr>
                    <div class="col-6">
                        <h1>Building in Public on WIP</h1>
                        {% for a in data['data']['user']['products'] %}
                        <h2><a href="https://wip.chat/products/{{ a.id }}" target="_blank">{{ a.name }}</a></h2>
                        {% endfor %}
                    </div>
                <div class="col-6">

                    <h1>What I'm listening to on Spotify</h1>

{#                    <h2>{{ b.name }} by {{ b.artist['#text']}}</h2>#}
                        <table style="width:100%">
{#  <tr>#}
{#    <th> </th>#}
{#    <th>Song</th>#}
{#    <th>Artist</th>#}
{#  </tr>#}
                                            {% for b in music['track'] %}
  <tr>
    <td><img src="{{ b.image[0]['#text'] }}" alt="N/A"></td>
    <td>{{ b.name }}</td>
    <td>{{ b.artist['#text'] }}</td>

  </tr>
                                                {% endfor %}
</table>



                </div>
                </div>
            </div>
        </div>
    </section>
</body>

{% endblock %}