<!---
     -----------------------------/ ^^^^^^^ \
   /                             |  | * * |  |
  / |   )                   |  ||\__/  @  \__/
\/   \ / /----------\______/ \ //     '-'
      ||=|=                   ||=|=

This blog was created by me.
I also co-created a super easy CMS, that makes writing themes really easy.
www.ronaldlangeveld.com
If you find any bugs, please tweet me @ronaldlangeveld

Peace!
--->


{# Complete list of posts #}

{% extends "base.html" %}


{% block main %}

<body>
    <section id="content">
        <div class="container">
            <div class="row">

                <div class="col-12">

                    <h1>Playground</h1>
                    <h2>This is my experimental section. Here I will play with multiple API's and so forth. Gotta keep on learning how stuff works.</h2>

                </div>
            </div>
        </div>
    </section>
</body>

{% endblock %}