<!---
     -----------------------------/ ^^^^^^^ \
   /                             |  | * * |  |
  / |   )                   |  ||\__/  @  \__/
\/   \ / /----------\______/ \ //     '-'
      ||=|=                   ||=|=

This blog was created by me.
I also co-created a super easy CMS, that makes writing themes really easy.
www.ronaldlangeveld.com
If you find any bugs, please tweet me @ronaldlangeveld

Peace!
--->


{# Complete list of posts #}

{% extends "base.html" %}


{% block main %}


<body>
    <section id="content">
        <div class="container">
            <div class="row">

                <div class="col-12">
                       <p><a href="/">go back home</a></p>
                    <div style="text-align: left;">

<p>Hi, I'm Ronald and I'm an Indie Web Developer and Maker.</p>
                    <p>Here's some of my blog posts.</p>

				<div class="col-12">
                    {% for post in posts|sort(reverse = true, attribute='date') %}
<div class="blog-card">
<div class="time-tag">
	<time style="text-align: center" class="timeago" datetime="{{ post.date }}">{{ post.date }}</time>
</div>
<h1 class="blog-head-text"><a class="blog-link-style" href="/{{ post.slug }}"> {{ post.title }}</a></h1>
</div>
<br>
                    {% endfor %}


				</div>
</table>
</div>

</div>

</div>
</div>
        </div>
    </section>

    <br>
    <br>

</body>


{% endblock %}