{# Complete list of posts #}

{% extends "base.html" %}


{% block main %}


<body>
    <section id="content">
        <div class="container">
            <div class="row">

                <div class="col-12">
                       <p><a href="/">go back home</a></p>
                    <div style="text-align: left;">

<p>Hi, I'm Ronald and I'm an Indie Web Developer and Maker.</p>
                    <p>Here's a list of everything I've written on this blog so far.</p>

                            <table style="width:100%">
                                                        {% for post in posts|sort(reverse = true, attribute='date') %}
  <tr>
  <td><a href="/{{ post.slug }}">{{ post.title }}</a></td>
    <td>{{ post.date }}</td>
  </tr>
                                {% endfor %}
</table>
</div>

</div>

</div>
</div>
        </div>
    </section>

    <br>
    <br>

</body>


{% endblock %}