{# Template for blog posts #}
{#this is where you blog post with display (the md file will parse here)#}
{% extends "base.html" %}


{% block main %}
{#    twitter button#}
    <div class="creditlink">
  <a style="text-decoration: none; color: white;" href="https://twitter.com/ronaldlangeveld" target="_blank"><button class="creditBTN">By Ronald Langeveld</button></a></button>
      </div>

{#    end of twitter button#}

<body class="blog-header">
	<section class="header-section-full">
		<div>
			<h1 class="blog-post-header-text">{{ post.title }} </h1>
		</div>
	</section>

	<section class="blog-post-body">

		<div class="blog-post-content">

			<h3 class="blog-post-time">{{ post.date }}</h3>
<div class="container">
	<div class="row">

		<div class="col-12">

{{ post.content | safe }}

		</div>
	</div>


    <div class="row">
        <div class="col-6">
               <!-- Twitter -->
    <a href="https://twitter.com/share?url=https://ronaldlangeveld.com/{{ post.slug }}&amp;text={{ post.title }}%20by%20@ronaldl93_" target="_blank">
        <button class="twitter-flat-button"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</button>
    </a>
        </div>

                <div class="col-6">
           <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://ronaldlangeveld.com/{{ post.slug }}" target="_blank">
        <button class="facebook-flat-button"><i class="fa fa-facebook" aria-hidden="true"></i> Post</button>
    </a>

        </div>



    </div>


    <div class="row">
        <br>
          <div class="back-btn col-12">
        <a href="/">Go Back</a>
</div>
    </div>
</div>

		</div>


	</section>

</body>
    <script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

{% endblock %}