{# Template for blog posts #}
{#this is where you blog post with display (the md file will parse here)#}
{% extends "base.html" %}


{% block main %}
{#    twitter button#}
    <div class="creditlink">
  <a style="text-decoration: none; color: white;" href="https://twitter.com/ronaldlangeveld" target="_blank"><button class="creditBTN">By Ronald Langeveld</button></a></button>
      </div>

{#    end of twitter button#}

<body class="blog-header">
	<section class="header-section-full">
		<div>
			<h1 class="blog-post-header-text">{{ post.title }} </h1>
		</div>
	</section>

	<section class="blog-post-body">

		<div class="blog-post-content">

			<h3 class="blog-post-time">{{ post.date }}</h3>
<div class="container">
	<div class="row">

		<div class="col-12">

{{ post.content | safe }}

		</div>
	</div>


    <div class="row">
        <div class="col-6">
               <!-- Twitter -->
    <a href="https://twitter.com/share?url=https://ronaldlangeveld.com/{{ post.slug }}&amp;text={{ post.title }}%20by%20@ronaldl93_" target="_blank">
        <button class="twitter-flat-button"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</button>
    </a>
        </div>

                <div class="col-6">
           <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://ronaldlangeveld.com/{{ post.slug }}" target="_blank">
        <button class="facebook-flat-button"><i class="fa fa-facebook" aria-hidden="true"></i> Post</button>
    </a>

        </div>



    </div>

    <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://ronaldla.us13.list-manage.com/subscribe/post?u=d2abdd343415367503fbe4bc9&amp;id=2a7ed7f768" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Access my private email list. No bullshit guaranteed. </label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d2abdd343415367503fbe4bc9_2a7ed7f768" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->


    <div class="row">
        <br>
          <div class="back-btn col-12">
        <a href="/">Go Back</a>
</div>
    </div>

</div>

		</div>


	</section>

</body>
    <script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

{% endblock %}